html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
ul,
li,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.5 "Microsoft YaHei", "宋体", "Arial Narrow", "HELVETICA";
  color: #2B2B2B;
  outline: 0;
}
a {
  color: #2B2B2B;
}
a:hover,
a:actived {
  color: #cc0000;
  text-decoration: none;
}

@media screen and (max-height: 768px) and (min-width:1220px){
 .functionbox{ position: fixed!important;}
 .main{ top: 0!important;}
}
/*@media screen and (max-width:1024px){
 .functionbox{ margin-right: -508px!important;}
 .shortcutbox{ margin-left: -519px!important;}
 #ui-datepicker-div{ margin-left:233px!important;}
 .main-article{ width: 1024px!important;}
 .main-article .main-r{ width: 500px!important;}
}
*/
/*img{ width: 100%}*/
body,
html {
  background: url(./home_bg.jpg) repeat;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.clear {
  clear: both;
  margin: 0;
  padding: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  content: ".";
}
.blank5 {
  clear: both;
  height: 5px;
  visibility: hidden;
}
.blank10 {
  clear: both;
  height: 10px;
  visibility: hidden;
}
.blank15 {
  clear: both;
  height: 15px;
  visibility: hidden;
}
.blank20 {
  clear: both;
  height: 20px;
  visibility: hidden;
}
.blank25 {
  clear: both;
  height: 25px;
  visibility: hidden;
}
.blank30 {
  clear: both;
  height: 30px;
  visibility: hidden;
}
.blank35 {
  clear: both;
  height: 35px;
  visibility: hidden;
}
.blank40 {
  clear: both;
  height: 40px;
  visibility: hidden;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ft-12 {
  font-size: 12px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide,
.hidden {
  display: none;
}
.main {
 /* width: 1020px;*/
  width:1160px;
  position: relative;
  top: 40px;

  margin: 0 auto;
}
.main .main-in {
  height: 760px;
  /*min-height: 760px;*/
  overflow: hidden;
  background: #fff;
  box-shadow: -1px 1px 8px #333333, 1px -1px 10px #333333, 1px 1px 8px #111111, 1px -1px 8px #111111;
}
.main .main-in .main-paper {
  margin-left: 10px;
  position: relative;
}
.main .main-in .main-paper img{ width:490px;}
.main-l {
  width: 507px;
  margin-top: 10px;
}
.main-r {
  width: 640px;
  height: 737px;
  margin-top: 13px;
  margin-bottom: 10px;
  overflow: hidden;
}
.main-r .main-460 {
  width: 480px;
}
.main-r .main-600 {
  width: 620px;
}
.main-in .hd {
  height: 31px;
  padding-top: 14px;
  border-bottom: #dbdbdb 2px solid;
}
.main-in .hd .logo {
  display: block;
  width: 108px;
  height: 25px;
  background: url(./epaperlogo.png) no-repeat;
}
.main-in .hd .fm {
  margin-left: 13px;
  display:inline-block;
  height: 25px;
  line-height: 26px;
  font-size: 14px;
  color: #666666;
  font-family: '微软雅黑';
  cursor: text;
}
.main-in .hd .date {
  display: block;
  width: 94px;
  height: 25px;
  line-height: 26px;
  font-size: 12px;
  color: #666666;
  font-family: '微软雅黑';
  cursor:text;
}
.main-list {
  padding-top: 10px;
}
.main-list ul li {
  padding: 10px 10px;
  border-bottom: #ccc 1px dotted;
}
.main-list ul li.ad{ padding-bottom:10px; width:490px;}
.main-list ul li.ad .title{ width:40px; text-align:center; line-height:20px; background:#aaa; color:#fff; margin-bottom:6px;}
.main-list ul li.ad a{ display:inline-block; width:210px; height:141px; margin-right:25px; overflow:hidden;}
.main-list ul li.ad a img{ width:210px; height:auto;}
.main-list ul li.ad a img.li-active{filter:alpha(opacity=50);  -moz-opacity:0.5;  -khtml-opacity: 0.5;  opacity: 0.5;  }

.main-list ul li.li-active {
  background: #eee;
}
.main-list ul li.li-active h2 a{ color:#d1232a;}
.main-list ul li.li-active .summary p{ color:#666;}
.main-list ul li h2 {
  font-family: '微软雅黑';
  font-size: 24px;
  color: #010101;
  margin-bottom: 5px;
}
.main-list ul li h2 a:hover{ color:#d1232a;}
.main-list ul li .summary {
  padding-bottom:6px;
  
  overflow: hidden;
}
.main-list ul li .summary p {
  font-size: 14px;
  line-height: 22px;
  color: #999;
  max-height: 66px;
  overflow: hidden;
}
.main-list ul li .summary img {
  float: right;
  margin-left: 16px;
  height: 66px;
  max-width:200px;
}
/*右侧功能*/
.functionbox {
  width: 42px;
  position: absolute;
  z-index: 9;
  right: 50%;
  margin-right: /*-552px;*/-622px;
  top: 20px;
}
.tb-functionbox{
  position: fixed;
  top:60px;
}
.functionbox .search,
.functionbox .datepicker,
.functionbox .share,
.functionbox .fullpage,
.functionbox .tolist,
.functionbox .toprevblock a,
.functionbox .tonextblock a {
  display: block;
  width: 42px;
  height: 34px;
  background: url(./home_icon1.png) no-repeat -2px 0;
}
.functionbox .search.act {
  background: url(./home_icon3.png) no-repeat;
}
.functionbox .datepicker {
  border: none 0;
  background-position: -2px -44px;
  margin-top: 10px;
  text-indent: -9999em;
  display: block;
}
.functionbox .share {
  background-position: -2px -98px;
  margin-top: 20px;
}
.functionbox .fullpage {
  background-position: -2px -142px;
  margin-top: 10px;
}
.functionbox .fullpage.active{
  background-position: -2px -582px;
}
.functionbox .fullpage.active:hover{
  background-position: -46px -582px;
}
.functionbox .tolist {
  display:none;
  background-position: -2px -196px;
  margin-top: 20px;
}
.functionbox .toprevblock a{
  height: 94px;
  background-position: -2px -323px;
}
.functionbox .tonextblock a{
  height: 94px;
  background-position: -2px -426px;
}
.functionbox .toprevblock a:hover {
  height: 94px;
  background-position: -46px -323px;
}
.functionbox .tonextblock a:hover {
  height: 94px;
  background-position: -46px -426px;
}
.functionbox .toprevblock{ position:absolute; right:0; top:400px;}
.functionbox .tonextblock{ position:absolute; right:0; top:505px;}

.main-article .functionbox .toprevblock a,.tb-functionbox .toprevblock a{
  background-position: -2px -643px;
}
.main-article .functionbox .toprevblock a:hover,.tb-functionbox .toprevblock a:hover{
  background-position: -46px -643px;
}
.main-article .functionbox .tonextblock a,.tb-functionbox .tonextblock a{
  background-position: -2px -746px;
}
.main-article .functionbox .tonextblock a:hover,.tb-functionbox .tonextblock a:hover{
  background-position: -46px -746px;
}
.main-article .main-600{ margin-top: 30px;}

.functionbox .search:hover{
  background-position: -46px 0;
}
.functionbox .search.act:hover{
    background: url(./home_icon3.png) no-repeat;
}
.functionbox .datepicker:hover{
  background-position: -46px -44px;
}
.functionbox .share:hover{
  background-position: -46px -98px;
}
.functionbox .fullpage:hover{
  background-position: -46px -142px;
}
.functionbox .tolist:hover{
  background-position: -46px -196px;
}

.functionbox .bdsharebuttonbox {
  background: #fff;
  border: 1px solid #ddd;
  display: none;
  width: 114px; /* */
  /*width: 75px;*/
  height: 41px;
  position: absolute;
  right: 42px;
  top: 97px;
  padding: 0 0 0 12px;
}
.functionbox .bdsharebuttonbox a {
  padding-left: 30px!important;
  height: 30px!important;
  margin:6px 6px 6px 0;
  float:left;
}
.functionbox .bdsharebuttonbox .share-wx{
  display: inline-block;
  background: url(./icon_share.png) -90px 0 no-repeat !important;
}
.functionbox .bdsharebuttonbox .bds_qzone {
  display:inline-block;	
  background: url(./icon_share.png) -30px 0 no-repeat !important;
}
.functionbox .bdsharebuttonbox .bds_tsina {
  display: inline-block;
  background: url(./icon_share.png) -60px 0 no-repeat !important;
}

.functionbox .share-wx-img{
  position: absolute; right: 199px; top: 97px; border: #ddd 1px solid; background: #fff; text-align: center;
}
.functionbox .share-wx-img img{ width: 185px; height: 185px;}
.functionbox .share-wx-img p.close{ cursor:pointer; float: right; font-size: 14px; color: #666; margin-right: 10px;}

/*搜索结果*/
.searchresult.searchani-int {
  animation: searchresult .4s linear ;
  -webkit-animation: searchresult .4s linear ;
}
@keyframes searchresult {
  from {
    width: 0;
  }
  to {
    width: 370px;
  }
}
@-webkit-keyframes searchresult {
  from {
    width: 0;
  }
  to {
    width: 370px;
  }
}
.searchani-int input {
  animation: input-ani 0.4s linear;
  -webkit-animation: input-ani 0.4s linear;
}
@keyframes input-ani {
  from {
    width: 0;
  }
  to {
    width: 336px;
  }
}
@-webkit-keyframes input-ani {
  from {
    width: 0;
  }
  to {
    width: 336px;
  }
}
.searchani-int .close {
  animation: close-ani 0.4s linear;
  -webkit-animation: close-ani 0.4s linear;
}
@keyframes close-ani {
  from {
    right: 0;
  }
  to {
    right: 370px;
  }
}
@-webkit-keyframes close-ani {
  from {
    right: 0;
  }
  to {
    right: 370px;
  }
}
.searchresult.searchani-out {
  animation: searchresult-out 0.4s linear;
  -webkit-animation: searchresult-out 0.4s linear;
}
@keyframes searchresult-out {
  from {
    width: 370px;
  }
  to {
    width: 0;
  }
}
@-webkit-keyframes searchresult-out {
  from {
    width: 370px;
  }
  to {
    width: 0;
  }
}
.searchani-out input {
  animation: input-ani-out 0.4s linear;
  -webkit-animation: input-ani-out 0.4s linear;
}
@keyframes input-ani-out {
  from {
    width: 336px;
  }
  to {
    width: 0;
  }
}
@-webkit-keyframes input-ani-out {
  from {
    width: 336px;
  }
  to {
    width: 0;
  }
}
.searchani-out .close {
  animation: close-ani-out 0.4s linear;
  -webkit-animation: close-ani-out 0.4s linear;
}
@keyframes close-ani-out {
  from {
    right: 370px;
  }
  to {
    right: 0;
  }
}
@-webkit-keyframes close-ani-out {
  from {
    right: 370px;
  }
  to {
    right: 0;
  }
}
.searchresult {
  position: absolute;
  right: 42px;
  top: -20px;
  width: 370px;
  background: #5FABC4;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.searchresult .close {
  right: 370px;
  display: block;
  position: absolute;
  width: 29px;
  height: 72px;
  background: url(./home_icon3.png) -6px -36px no-repeat;
}
.searchresult .hd {
  padding: 20px 0 18px 20px;
}
.searchresult .hd input {
  height: 34px;
  width: 336px;
  line-height: 34px;
  padding-left: 14px;
  color: #999;
  font-size: 12px;
  border: 0;
  border-radius: 5px 0 0 5px ;
}
.searchresult .bd ul {
  padding: 8px 0;
}
.searchresult .bd ul li {
  height: 29px;
  line-height: 29px;
  padding-left: 20px;
  color: #fff;
  background: url(./dot.png) 20px center no-repeat;
}
.searchresult .bd ul li a {
  color: #fff;
  font-size: 14px;
  font-family: '微软雅黑';
  padding-left: 10px;
}
/*左侧快捷列表*/
.shortcutbox {
  position: absolute;
  left: 50%;
  top: 20px;
  width: 192px;
  margin-left: -621px;/*-551px;*/
  
  /*板块列表*/
}
.shortcutbox .icon {
  width: 41px;
  float: left;
}
.shortcutbox .icon li.active {
  background: url(./home_icon2.png?v=0.1) 0 0 no-repeat;
}
.shortcutbox .icon li.active a.a {
  padding-left: 12px;
  padding-right: 10px;
  margin-left: 0;
  height: 44px;
  padding-top: 4px;
  width: 18px;
  display: block;
  font-size: 14px;
  color: #d1232a;
  line-height: 1.2em;
}
.shortcutbox .icon li {
  width: 41px;
  height: 44px;
  background: url(./home_icon2.png?v=0.1) 0 -58px no-repeat;
  padding-bottom: 6px;
  cursor: pointer;
  vertical-align:bottom;
}
.shortcutbox .icon li a.a {
  margin-left: 18px;
  height: 40px;
  padding-top: 4px;
  width: 18px;
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 1.2em;
}
.shortcutbox .shortlist {
  width: 150px;
  height: 760px;
  overflow: auto;
  position: absolute;
  top: -20px;
  left: 41px;
  background: rgba(255, 255, 255, 0.94);
  background: #fff; filter:alpha(opacity=94);
}
.shortcutbox .shortlist ul{ padding-top:20px;}
.shortcutbox .shortlist li {
  width: auto;
  height: 25px;
  line-height: 25px;
  padding-left: 15px;
  font-size: 12px;
  color: #333;
  background: none;
  margin-bottom: 0;
}
.shortcutbox .shortlist li a{ display:block;height: 25px; line-height: 25px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.shortcutbox .shortlist li:hover{ background:#D1232A; color: #fff}
.shortcutbox .shortlist li:hover a{ color: #fff}

.footer {
  padding: 10px 0 10px;
  text-align: center;
  font-size: 12px;
  color: #666;
}
/*文章正文*/
.main-article {
  /*一些宽度的适配*/
  width: 1160px;
  /*一些宽度的适配end*/
}
.main-article .main-r {
  width: 640px;
}
.main-article .functionbox {
  margin-right: -622px;
}
.main-article .shortcutbox {
  margin-left: -621px;
}
.article {
  /*margin-top: 15px;*/
}
.article h1 {
  text-align: center;
  font: normal 24px/30px Microsoft Yahei, simhei;
  _font-family: simhei;
  color: #010101;
}
.article h2 {
  text-align: center;
  font: 16px/24px Microsoft Yahei, '黑体';
  _font-family: simhei;
  color: #666;
  margin-top: 5px;
}
.article .info {
  color: #999;
  text-align: center;
  height: 24px;
  line-height: 24px;
  padding-top: 5px;
  font-family: Arial, "宋体";
  margin-top: 2px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
  margin-bottom:20px;
}
.article .text table{
	margin:auto;
}
.article .text p {
  font-size: 23px;
  padding: 10px 0;
  color: #333;
  line-height: 45px;
  font-family: Arial, "微软雅黑";
  text-indent:1em;
}
.article .pub_image{ display:block; margin:auto;}
/*右侧滚动*/
#scrollbox {
  float: right;
  width: 2px;
  height: 737px;
  background: #eee;
  position: relative;
  margin-right: 8px;
}
#scrollbar {
  width: 8px;
  background: #26282b;
  position: absolute;
  left: -3px;
  top: 0;
  -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; background:#ccc;
}
#scrollwrap {
  position: relative;
}
#listbox {
  position: absolute;
}
.toback,
.toback2 {
  position: absolute;
}

.toback {
  width: 44px;
  height: 36px;
  top: 0;
  left: 50%;
  margin-left: -62px;
}
.toback2 {
  width: 35px;
  height: 44px;
  top: 0;
}
.toback a,
.toback2 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(./backicon.png) -44px 0 no-repeat;
}
.toback2 a {
  background: url(./backicon2.png) 0 -44px no-repeat;
}
.toback a:hover{ background-position:0 0;}
.toback2 a:hover{ background-position:0 0;}
/*通版*/
.tonban-b {
  padding: 30px;
}
.tonban-b ul li h2{ height:36px; overflow:hidden;}
.tonban-b .main-list ul li.ad{ height:auto;}
.tonban-b .main-list ul li.ad a{ margin-right:12px; width:130px; height:90px;}


.tonban-b .main-list ul {
  width: 1000px;
  overflow: hidden;
}
.tonban-b .main-list ul li {
  float: left;
  width: 438px;
  margin-right: 42px;
  border-bottom: #999 1px dashed;
  height: 118px;
}
/*缩略图*/
.main-thumb {
  padding: 26px 60px;
}
.main-thumb ul {
  width: 948px;
  overflow: hidden;
}
.main-thumb ul li {
  width: 197px;
  height: 296px;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
}
.main-thumb .page {
  text-align: center;
  margin-top: 6px;
}
.main-thumb .page a {
  display: inline-block;
  width: 86px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: #646774;
  background: #efefef;
  border: #cccccc 1px solid;
}
.main-thumb .page a.pageprev {
  margin-right: 28px;
}
/*datepicker reset*/
/*top要计算  margin-left要考虑正文时候的宽度不一样*/
.ui-datepicker {
  left: 50%!important;
  margin-left: 330px;
    margin-top: -15px;
  background: #ffffff !important;
}
.ui-datepicker .ui-datepicker-header {
  background: #d79361 !important;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #cccccc !important;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: #6ABAD4!important ;
  border: 1px solid #cccccc !important;
}
/*datepicker reset end*/

.tongban .main-in .main-paper img{ width:1000px; height:auto;}

/*日期*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius:15px; text-align:center; border-color:#ddd !important;}
.ui-datepicker td{ padding:3px !important;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ color:#fff !important;}

/*guide*/
.shide{ width: 100%; height: 100%; position: absolute; left:0;top: 0; background: #000; opacity: 0.5; filter:alpha(opacity=50); z-index: 90; display: none}
.guide-div{width: 1020px;
  position: relative;
  top: 50px;
  margin: 0 auto; z-index: 1000 }
.guide{ width: 490px; height: 280px; display: none; position: absolute;}
.guide1{ display: none; background: url(./guide1.png) no-repeat; left: 50%; margin-left: -188px; top:220px;}
.guide2{ background: url(./guide2.png) no-repeat; left: 0;top: 8px}
.guide3{ background: url(./guide3.png) no-repeat; right: 0;top: 18px}
.guide4{ background: url(./guide4.png) no-repeat; right: 0;top: 84px}
.guide5{ background: url(./guide5.png) no-repeat; right: 0;top: 310px}

.guide .nexttip,.guide .nexttip2{ width: 92px; height: 34px; cursor: pointer; display: block; position: absolute;left: 217px;top: 185px;}
.guide .prevtip{ width: 92px; height: 34px; cursor: pointer; display: block;  position: absolute;left:83px;top: 184px;}
.guide .nexttip2{ left: 248px;}

.close1,.close2{ width: 28px; height: 28px; display: block; position: absolute; left: 61px; top: 54px;}
.close2{ left:405px; top: 54px;}

.to_oe{ position: fixed; top:250px; right: 0; width: 31px; height: 108px; background: url(./backoeeee.png) no-repeat;}
.to_oe:hover{ background-position:-31px 0;}

.wrapper{ min-width:1220px;}

button.ui-datepicker-current{ display: none!important}

.suggest {
  position: fixed;
  right: 0;
  top: 690px;
  width: 35px;
  height: 100px;
  background: url(./yjfk.png) no-repeat;
}
.suggest a {
display: block;
width: 100%;
height: 100%;
text-indent: -9999em;
}
.guide_wqhg{ width: 109px; height: 56px; background: url(./guide_ckwq.png) no-repeat; position: absolute;top: 55px;left: 50px;overflow: hidden;}
.guide_wqhg a{ width: 20px; height: 20px; position: absolute; right: 0;top:0;}
/*--add pdf load*/
.downPDF { /*background-position: -5px -142px;*/ margin-top: 12px;display: block;width: 43px; height: 35px;background: url(./pdf.png); /*background-color: #616471; background-size: 36px;*/}
.old_cld { /*background-position: -5px -142px;*/ margin-top: 12px;display: block;width: 43px; height: 95px;background: url(./cld_old.png); /*background-color: #616471; background-size: 22px;*/}
.preart_rg{ position: fixed;top: 365px;right: 0;width: 31px;height: 108px;background: url(./home_icon1.png) no-repeat -2px 0;background-position: -2px -318px;}
.nextart_rg{position: fixed;top: 470px;right: 0;width: 31px;height: 108px;background: url(./home_icon1.png) no-repeat -2px 0;background-position: -2px -426px;}
